.slide a {
  background: none !important;
  border-bottom: 1px dashed;
  transition: .2s color;
}
.slide a:hover {
  color: #fab900;
  border-bottom-style: solid;
}

h3 {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.5;
}

li {
font-size: 1.4em;
}

li li {
  font-size: .9em;
}

.title.slide::after {
  font-size: 0;
}

p.titlePersons {
  margin-bottom: 0.5em;
}


.title.slide .logo {
  float: right;
  margin: 4em 15px .5em;
}

.title.slide h2 {
  clear: both;
  line-height: 1;
  font-size: 3.1em;
  margin: 0 0 .2em -.1em;
}

.title.slide h3 {
  font-size: 1.7em;
  line-height: 1.2;
  letter-spacing: .2px;
  margin: .2em 0 .5em;
  font-weight: normal;
}

.title.slide p {
  line-height: 1;
}

a.license {
  float: right;
  margin-right: 60px;
  border-bottom: 0;
}

a.license img {
  height: 1em;
}

.TODO {
  color: red;
}
.TODO::before {
  content: "TODO: ";
}

.person {
  margin-bottom: 1.2em;
  font-size: 16pt;
}

.person img {
  border-radius: 50%;
  height: 3em;
  float: left;
  clear: both;
  margin-right: 1em;
}

.person p {
  margin: 0;
  line-height: 1.4em;
}

.person .name {
  font-weight: bold;
}

.person .faculty {
  font-style: italic;
}

.avatar {
  border-radius: 50%;
  height: 4em;
  width: 4em;
  background: #FBBA00;
  border: 6px solid #FBBA00;
  position: absolute;
}

#chart {
  height: 420px;
  width: 800px;
}

div.popup {
	background-color: hsla(52, 100%, 49%, 0.38);
	border-radius: 20px;
	width: 600px;
	position: relative;
  background:rgba(251, 186, 0, .9);
  padding: 10px 20px;
  bottom: -100%;
  transition: bottom 1s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}
.popup p {
	margin: 0 0.2em !important;
}
.popup a {
  color: black !important;
  font-weight: bold;
}
.popup a:hover {
  color: #109617 !important;
}
ins {
  color: #109617;
}
.suggestion {
  margin-left: 20px;
  font-style: italic;
}
.active div.popup {
  bottom: 0;
}

.list .comment, .list .popup {
  display: none;
}

.comment {
  position:absolute;
  padding:15px;
  margin:1em 0 3em;
  color:#000;
  background:rgba(251, 186, 0, .9);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  width: 510px;
  line-height: 1.2;
  top: 375px;
  left: 60px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);

  opacity: 0;
  transform: scale(.5);
  transform-origin: center center;
  transition: all cubic-bezier(1,2.5,.85,.65) .25s;
}
.comment.active {
  opacity: 1;
  transform: scale(1);
}

.comment:after {
  content:"";
  position:absolute;
  border-style:solid;
  border-color:#FBBA00 transparent;
  display:block;
  width:0;
  top:-14px;
  left:150px;
  bottom:auto;
  border-width:0 15px 15px;
}

.comment img {
  height: 110px;
  float: left;
  margin-right: 15px;
}

p.garcon {
  text-align: center;
}

#open h2 em {
  -webkit-text-stroke: 1.5px;
}

#netwerk .wrapper {
  overflow: hidden;
  margin-top: -20px;
}
#netwerk .image {
  transition: transform 2s;
}
#netwerk .image.zoom {
  transform: scale(3.3) translate(5px, 18px);
}
#netwerk img {
  height: 440px;
  margin: 0 10px 0 80px;
  display: block;
}
#netwerk video {
  position: relative;
  top: -283px;
  left: 81px;
  height: 33px;
  transition: all .5s;
}
#netwerk video.playing {
  height: 400px;
  top: -420px;
  left: 130px;
  transition: all 3s;
}

section {
  background: #FBBA00;
  width: 48%;
  height: 46%;
  margin: 0 2% 2% 0;
  float: left;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  line-height: 1.3;
  font-weight: bold;
}
.slide section a {
  border-bottom: none;
}
.slide section a:hover {
  color: white;
}
.slide section p {
  margin: 0;
}

section:nth-child(4n+2), section:nth-child(4n+3) {
  background: #1A4175;
  color: white;
}

.twitter-tweet:not(:hover) {
  opacity: .95;
}

.tweet.next:not(.active) {
  display: none;
}


@media print {
@page {
  size:landscape;
  margin: 25mm;
  }

.shower.full {
  transform:none!important;
  }

.slide {
  border: 0.05cm solid black;
  page-break-inside:avoid;
  page-break-after:always;
  }
}
